<footer class="fhg-l-footer">

    <div class="fhg-m-footer-element fhg-text">
        <a href="/kontakt/">Kontakt</a>
    </div>

    <div class="fhg-m-footer-element fhg-text">
        <a href="/impressum/">Impressum</a>
    </div>

    <div class="fhg-m-footer-element fhg-text">
        <a href="/datenschutz/">Datenschutz</a>
    </div>

    <div class="fhg-m-footer-element fhg-text">
        <a href="tel:+491787903538">+49&nbsp;178&nbsp;7903538</a>
    </div>

    <div class="fhg-m-footer-element fhg-text">
        <a href="mailto:info@freiheitsgrade.consulting">info@freiheitsgrade.consulting</a>
    </div>

    <div class="fhg-m-footer-element">
        <img src="/bricks/visuals/bird/bird-full-transparent-turquoise.svg"
             alt="ddd" width="64px" height="64px"
        />
    </div>
</footer>