<header class="fhg-l-header">
    <nav  class="fhg-top-nav ">
        <ul>
            <li class="fhg-headline fhg-top-nav-home"><a href="/">Freiheitsgrade<span class="underscore">_</span></a></li>

            <li class="fhg-continuous-text fhg-top-nav-item {% if page.url == '/projekte/' %} fhg-top-nav-item-active {% endif %}"><a style="_border: cyan 1px solid;" href="/projekte">Projekte</a></li>
            <li class="fhg-continuous-text fhg-top-nav-item {% if page.url == '/kompetenzen/' %} fhg-top-nav-item-active {% endif %}"><a style="_border: cyan 1px solid;" href="/kompetenzen">Kompetenzen</a></li>
            <li class="fhg-continuous-text fhg-top-nav-item {% if page.url == '/wir/' %} fhg-top-nav-item-active {% endif %}"><a style="_border: cyan 1px solid;" href="/wir">Wir</a></li>
            <li class="fhg-continuous-text fhg-top-nav-item {% if page.url == '/artikel/' %} fhg-top-nav-item-active {% endif %}"><a style="_border: cyan 1px solid;" href="/artikel">Artikel</a></li>
        </ul>
    </nav>
</header>
