@font-face {
  font-family: 'JetBrains Mono';
  font-weight: normal;
  font-style: normal;

  src: url('/bricks/font/eot/JetBrainsMono-Regular.eot');
  src: url('/bricks/font/eot/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype');
  src: url('/bricks/font/woff2/JetBrainsMono-Regular.woff2') format('woff2');
  src: url('/bricks/font/woff/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: normal;
  font-style: italic;

  src: url('/bricks/font/eot/JetBrainsMono-Italic.eot');
  src: url('/bricks/font/eot/JetBrainsMono-Italic.eot?#iefix') format('embedded-opentype');
  src: url('/bricks/font/woff2/JetBrainsMono-Italic.woff2') format('woff2');
  src: url('/bricks/font/woff/JetBrainsMono-Italic.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  font-style: normal;

  src: url('/bricks/font/eot/JetBrainsMono-Medium.eot');
  src: url('/bricks/font/eot/JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype');
  src: url('/bricks/font/woff2/JetBrainsMono-Medium.woff2') format('woff2');
  src: url('/bricks/font/woff/JetBrainsMono-Medium.woff') format('woff');
}