
%fhg-headline-font-color {
  color: $headline-color;
}

%fhg-text-font-color {
  color: $text-color;
}

%fhg-base-font-family {
  font-family: $font-family;
}

.fhg-headline {
  @extend %fhg-base-font-family;
  @extend %fhg-headline-font-color;

  font-size: $font-size-headline;
  font-weight: 500;
}

.fhg-continuous-text {
  @extend %fhg-base-font-family;
  @extend %fhg-text-font-color;

  font-weight: normal;
}