$background-color: #06110E;

$font-family: 'Jetbrains Mono', 'Courier New', Courier, monospace;
$font-size-base: 100%;
$font-size-headline: $font-size-base * 1.5;

$headline-color: #D8D8D8;
$text-color: #606865;
