
%fhg-headline-font-color {
  color: $headline-color;
}

%fhg-text-font-color {
  color: $fhg-font-primary;
}

%fhg-base-font-family {
  font-family: $fhg-font-family;
}

.fhg-headline {
  @extend %fhg-base-font-family;
  @extend %fhg-headline-font-color;

  font-weight: $fhg-font-weight-regular;
  font-size: 150%;
}

.fhg-text {
  @extend %fhg-base-font-family;
  @extend %fhg-text-font-color;

  font-weight: $fhg-font-weight-regular;
}


