$background-color: #06110E;

$fhg-font-family: 'Jetbrains Mono', 'Courier New', Courier, monospace;
$font-size-base: 20px;

$fhg-font-weight-thin: 100;
$fhg-font-weight-ultra-light: 200;
$fhg-font-weight-light: 300;
$fhg-font-weight-regular: 400;
$fhg-font-weight-medium: 500;
$fhg-font-weight-semi-bold: 600;
$fhg-font-weight-bold: 700;
$fhg-font-weight-extra-bold: 800;
$fhg-font-weight-heavy: 900;

$headline-color: #D8D8D8;
$text-color: #606865;

/*
 +------------------------------------------------------------------------
 | Farben
 +------------------------------------------------------------------------
 | Hauptfarben der Webseite
 |
 */

$fhg-color-primary: #06110E;
$fhg-color-accent: #00FFBC;

$fhg-font-primary: #d8d8d8;